__pycache__
data_augmentation.py
girino_test.h5
dados_girino/OLD_GT
dados_girino/Aug_Train/*
dados_girino/Aug_GT/*
outputs/*
!dados_girino/Aug_Train/.gitkeep
!dados_girino/Aug_GT/.gitkeep
!outputs/.gitkeep
!outputs/dice_metric.txt